@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 95%;
}

body {
    display: block;
    padding: 0;
    margin: 0 0 30px;
    user-select: none; /* unable select */
    -moz-user-select: none;
    -webkit-user-select: none;

}

/* Home Link & Reset */
nav.navbar {
    min-height:30px;
}

nav.navbar div.navbar-header a.navbar-brand {
    font-size: 1.25em;
    color: #404040;
    text-shadow: 2px 2px 4px #ffffff;
    padding-top: 5px;
    padding-bottom: 0;
    height: 30px;
    margin: 5px;
    border-bottom: 3px solid #404040;
}

nav.navbar div.navbar-header a:hover {
    color: #088A08;
}

/* Hand Image Cursor */
#blurEnd {
    cursor: url(grabCursor.png), move;
}

/* Cats & Dogs Title */
.titleFont {
    font-size: 2.2em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
    margin-top: -10px;
}

#instruction {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
}

#numPets, #countDown {
    text-decoration: underline;
    border-bottom: 1px solid #000;
}

p img#startButton {
    width:100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    left: 0;
    right: 0;
    padding: 50px 0;
    cursor: pointer;
}

/* Pet Pen */
#left {
    margin: 3%;
    padding: 0;
    position: absolute;
    left: 100px;
    top: 140px;
    width: 400px;
    height: 300px;
}

#mainPen{
    position: absolute;
    z-index: -100;
}

#mainPenPhoto {
    width: 400px;
}

/* Pet Store */
#right {
    margin: 3%;
    padding: 0;
    position: absolute;
    right: 100px;
    top: 140px;
    width: 400px;
    height: 300px;
    background-color: white;
}

#petStore {
    width: 350px;
    height: 300px;
    float: left;
    margin: 10px;
    background-color: white;
    z-index: 97;
}

#petStorePhoto {
    width: 350px;
}

/* Pet Images */
.draggable {
    width: 45px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 0;
}

.petSize {
    width:45px;
}

/* Pet Position */
#cat1, #dog1 {
    padding-top: 20px;
    padding-left: 70px;
}

#cat2, #cat4, #dog2, #dog4 {
    padding-top: 20px;
    padding-left: 110px;
}

#cat3, #dog3 {
    padding: 20px 100px 0 110px;
}

#cat5, #dog5 {
    padding: 20px 100px 0 130px;
}

/* Won Game */
#goodjob {
    background: url(goodjob.jpg) center center / 250px 210px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 100;
    visibility: hidden;
}

/* Lost Game */
#timeUP {
    background: url(timeisup.jpg) center center / 210px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 99;
    visibility: hidden;
}

/* Warning for Too Small Screen */
#fail {
    background: url(biggerScreen.jpg) center center / 300px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 98;
    visibility: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

/* Animations */
#cat1Img, #dog3Img {
    position:relative;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

@-moz-keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

@-o-keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

@keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

#cat2Img, #dog1Img {
    position:relative;
    -webkit-animation: diagonal 2s infinite;
    -moz-animation: diagonal 2s infinite;
    -o-animation: diagonal 2s infinite;
    animation: diagonal 2s infinite;
}

@-webkit-keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@-moz-keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@-o-keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

#cat3Img, #dog2Img {
    position: relative;
    -webkit-animation: rightLeft 2s infinite;
    -moz-animation: rightLeft 2s infinite;
    -o-animation: rightLeft 2s infinite;
    animation: rightLeft 2s infinite;
}

@-webkit-keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}

@-moz-keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}

@-o-keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}
@keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}

#cat4Img, #dog5Img {
    position: relative;
    -webkit-animation: leftRight 2s infinite;
    -moz-animation: leftRight 2s infinite;
    -o-animation: leftRight 2s infinite;
    animation: leftRight 2s infinite;
}

@-webkit-keyframes leftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}

@-moz-keyframes LeftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}

@-o-keyframes LeftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}
@keyframes leftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}

#cat5Img, #dog4Img {
    -webkit-animation: circleAround 2s linear infinite;
    -moz-animation: circleAround 2s linear infinite;
    -o-animation: circleAround 2s linear infinite;
    animation: circleAround 2s linear infinite;
}

@-webkit-keyframes circleAround {
    from { -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@-moz-keyframes circleAround {
    from { -moz-transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@-o-keyframes circleAround {
    from { -o-transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@keyframes circleAround {
    from { transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

/* Media Queries */
@media screen and (max-width: 1130px) {
    /* Pet Pen */
    #left {
        left: 50px;
    }
    /* Pet Store */
    #right {
        right: 50px;
    }
}
@media screen and (max-width: 990px) {
    /* Pet Pen */
    #left {
        left: 0;
    }
    /* Pet Store */
    #right {
        right: 0;
    }
}

@media screen and (max-width: 920px) {
    /* Pet Store */
    #right {
        right: -50px;
    }
    #mainPenPhoto {
        width: 350px;
    }
    #petStore {
        width: 300px;
        height: 270px;
    }
    #petStorePhoto {
        width: 300px;
    }
    #dog4 {
        padding-top: 5px;
    }
}

@media screen and (max-width: 760px) {
    main#blurEnd div#instruction {
        font-size: 1.1em;
    }
    #startButton {
        width:75px;
    }
    /* Pet Pen */
    #left {
        width: 320px;
        height: 250px;
        top: 150px;
    }
    /* Pet Store */
    #right {
        width: 320px;
        height: 250px;
        top: 150px;
        right: 0;
    }
    #mainPenPhoto {
        width: 320px;
    }
    #petStore {
        width: 270px;
        height: 240px;
    }
    #petStorePhoto {
        width: 270px;
    }
    /* Pet Images */
    .draggable {
        width: 22px;
        height: 30px;
    }
    .petSize {
        width:30px;
    }
    #cat1 {
        padding-top: 30px;
        padding-left: 30px;
    }
    #dog1 {
        padding: 20px 50px 0 20px;
    }
    #cat2, #dog2 {
        padding-top: 25px;
        padding-left: 90px;
    }
    #cat3, #dog3 {
        padding: 25px 90px 0 80px;
    }
    #cat4, #dog4 {
        padding-top: 35px;
        padding-left: 70px;
    }
    #cat5, #dog5 {
        padding-right: 80px;
    }
    /* Won Game */
    #goodjob {
        background-size: 230px 190px;
        top: 90px;
    }
    footer {
        visibility: hidden;
    }
}

@media screen and (max-width: 690px) {
    #startButton {
        width:65px;
    }
    /* Pet Pen */
    #left {
        width: 260px;
        height: 200px;
    }
    /* Pet Store */
    #right {
        width: 260px;
        height: 200px;
    }
    #mainPenPhoto {
        width: 260px;
    }
    #petStore {
        width: 200px;
        height: 180px;
    }
    #petStorePhoto {
        width: 200px;
    }
    /* Pet Images */
    .draggable {
        width: 18px;
        height: 25px;
    }
    .petSize {
        width:25px;
    }
    #dog1 {
        padding-top: 30px;
        padding-left: 30px;
    }
    #cat3, #dog3 {
        padding: 25px 60px 0 60px;
    }
    #cat4, #dog4 {
        padding-top: 15px;
    }
    #cat5, #dog5 {
        padding: 25px 100px 0 130px;
    }
    /* Lost Game */
    #timeUP {
        top: 90px;
    }
    /* Won Game */
    #goodjob {
        background-size: 190px 150px;
        top: 60px;
    }
}

@media screen and (max-width: 630px) {
    main#blurEnd div#instruction {
        font-size: 1em;
    }
    #startButton {
        width:50px;
    }
    /* Pet Pen */
    #left {
        width: 200px;
        height: 160px;
    }
    /* Pet Store */
    #right {
        width: 200px;
        height: 160px;
    }
    #mainPenPhoto {
        width: 200px;
    }
    #petStore {
        width: 160px;
        height: 140px;
    }
    #petStorePhoto {
        width: 160px;
    }
    /* Pet Images */
    .draggable {
        width: 15px;
        height: 20px;
    }
    .petSize {
        width:20px;
    }
    #cat2 {
        padding-left: 50px;
    }
    #cat3 {
        padding: 15px 60px 0 30px;
    }
    #cat4 {
        padding: 15px 30px 0 30px;
    }
    #cat5 {
        padding: 25px 50px 0 50px;
    }
    #dog1 {
        padding-top: 10px;
        padding-left: 40px;
    }
    #dog2 {
        padding-top: 5px;
        padding-left: 60px;
    }
    #dog3 {
        padding: 25px 30px 0 30px;
    }
    #dog4 {
      padding-top: 0;
      padding-left: 30px;
    }
    #dog5 {
        padding: 5px 30px 0 10px;
    }
    /* Lost Game */
    #timeUP {
        top: 50px;
    }
}

@media screen and (max-width: 590px) {
    main#blurEnd div#instruction {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 550px) {
    /* Cats & Dogs Title */
    .titleFont {
        font-size: 2em;
    }
    #startButton {
        top: 100px;
    }
    /* Won Game */
    #goodjob {
        background-size: 150px 110px;
        top: 30px;
    }
}

@media screen and (max-width: 430px) {
    /* Warning for Too Small Screen */
    #fail {
        visibility: visible;
    }
    #blurEnd:not(.titleFont) {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    /* Home Link & Reset */
    nav.navbar div.navbar-header a {
        font-size: 1em;
    }
    /* Cats & Dogs Title */
    .titleFont {
        font-size: 1.8em;
    }
}
