@charset "utf-8";

html {
    position: relative;
    min-height: 95%;
}

body {
    display: block;
    padding: 0;
    margin: 0 0 20px;
    user-select: none; /* unable select */
    -moz-user-select: none;
    -webkit-user-select: none;
}

a.navbar-brand {
    display: inline-block;
    height: auto;
    background-color: #797979;
    color:white;
    font-size: 1.25em;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    transition: all ease;
}

a.navbar-brand:hover {
    background-color: #404040;
}

.titleFont {
    font-size: 3em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
    margin: 5vh auto 30px;
    text-align: center;
}

#instruction {
    font-size: 1.5em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#numPets, #countDown {
    padding: 5px;
    border: 1px solid #4c4c4c;
}

#startButton {
    position: relative;
    margin: 5vh auto 0;
    padding: 0;
    cursor: pointer;
}

.gameArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
    cursor: url(img/grabCursor.png), move;
}

.gameArea .left {
    width: 400px;
    height: 300px;
    margin-right: 50px;
}

.mainPen {
    position: absolute;
    z-index: -100;
}

#petStore {
    width: 350px;
    height: 300px;
    background-color: white;
    z-index: 97;
}

/* Pet Images */
.draggable {
    width: 45px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 0;
}

/* Pet Position */
.cat1, .dog1 {
    padding-top: 20px;
    padding-left: 70px;
}

.cat2, .cat4, .dog2, .dog4 {
    padding-top: 20px;
    padding-left: 110px;
}

.cat3, .dog3 {
    padding: 20px 90px 0 95px;
}

.cat5, .dog5 {
    padding: 20px 100px 0 130px;
}

/* Won Game */
#goodjob {
    background: url(img/goodjob.jpg) center center / 375px 315px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 100;
    visibility: hidden;
}

/* Lost Game */
#timeUP {
    background: url(img/timeisup.jpg) center center / 315px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 99;
    visibility: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

/* Animations */
.cat1 img, .dog3 img {
    position:relative;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

@-moz-keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

@-o-keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

@keyframes bounce {
    0%       { bottom:25px; }
    50%      { bottom:-20px; }
    100%     {bottom: 30px;}
}

.cat2 img, .dog1 img {
    position:relative;
    -webkit-animation: diagonal 2s infinite;
    -moz-animation: diagonal 2s infinite;
    -o-animation: diagonal 2s infinite;
    animation: diagonal 2s infinite;
}

@-webkit-keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@-moz-keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@-o-keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

@keyframes diagonal {
    0%       { transform: translatex(-30px) translatey(-30px) }
    50%      { transform: translatex(20px) translatey(20px); }
    100%     { transform: translatex(-30px) translatey(-30px) }
}

.cat3 img, .dog2 img {
    position: relative;
    -webkit-animation: rightLeft 2s infinite;
    -moz-animation: rightLeft 2s infinite;
    -o-animation: rightLeft 2s infinite;
    animation: rightLeft 2s infinite;
}

@-webkit-keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}

@-moz-keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}

@-o-keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}
@keyframes rightLeft {
    0% {left: 20px;}
    50% {left: -50px;}
    100% {left: 20px;}
}

.cat4 img, .dog5 img {
    position: relative;
    -webkit-animation: leftRight 2s infinite;
    -moz-animation: leftRight 2s infinite;
    -o-animation: leftRight 2s infinite;
    animation: leftRight 2s infinite;
}

@-webkit-keyframes leftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}

@-moz-keyframes LeftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}

@-o-keyframes LeftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}
@keyframes leftRight {
    0% {left: -20px;}
    50% {left: 50px;}
    100% {left: -20px;}
}

.cat5 img, .dog4 img {
    -webkit-animation: circleAround 2s linear infinite;
    -moz-animation: circleAround 2s linear infinite;
    -o-animation: circleAround 2s linear infinite;
    animation: circleAround 2s linear infinite;
}

@-webkit-keyframes circleAround {
    from { -webkit-transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@-moz-keyframes circleAround {
    from { -moz-transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@-o-keyframes circleAround {
    from { -o-transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@keyframes circleAround {
    from { transform: rotate(0deg) translateX(40px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(40px) rotate(-360deg); }
}

@media screen and (max-width: 920px) {
    .gameArea .left {
        margin-right: -50px;
    }
    .mainPen img {
        width: 350px;
    }
    #petStore {
        width: 300px;
        height: 270px;
    }
    #petStore img {
        width: 300px;
    }
    .dog4 {
        padding-top: 5px;
    }
}

@media screen and (max-width: 760px) {
    .titleFont {
        font-size: 2.5em;
    }
    #instruction {
        font-size: 1.25em;
    }
    .mainPen img {
        width: 320px;
    }
    #petStore {
        width: 270px;
        height: 240px;
    }
    #petStore img {
        width: 270px;
    }
    .draggable {
        width: 22px;
        height: 30px;
    }
    .draggable img {
        width:30px;
    }
    .cat1 {
        padding-top: 30px;
        padding-left: 30px;
    }
    .dog1 {
        padding: 20px 50px 0 20px;
    }
    .cat2 {
        padding-top: 25px;
        padding-left: 90px;
    }
    .dog2 {
        padding-top: 25px;
        padding-left: 80px;
        padding-right: 100px;
    }
    .cat3, .dog3 {
        padding: 25px 90px 0 80px;
    }
    .cat4 {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 120px;
    }
    .dog4 {
        padding-top: 35px;
        padding-left: 70px;
    }
    .cat5 {
        padding-right: 110px;
    } 
    .dog5 {
        padding-right: 80px;
    }
    #goodjob {
        background-size: 230px 190px;
        top: 90px;
    }
}

@media screen and (max-width: 690px) {
    .gameArea .left {
        margin-right: 10px;
    }
    .gameArea .left,
    .gameArea .right {
        width: 260px;
        height: 200px;
    }
    .mainPen img {
        width: 260px;
    }
    #petStore {
        width: 200px;
        height: 180px;
        margin: auto;
    }
    #petStore img {
        width: 200px;
    }
    .draggable {
        width: 18px;
        height: 25px;
    }
    .draggable img {
        width: 25px;
    }
    .dog1 {
        padding-top: 30px;
        padding-left: 30px;
    }
    .cat3, .dog3 {
        padding: 25px 60px 0 60px;
    }
    .cat4, .dog4 {
        padding-top: 15px;
    }
    .cat5, .dog5 {
        padding: 25px 100px 0 130px;
    }
    #timeUP {
        top: 90px;
    }
    #goodjob {
        background-size: 190px 150px;
        top: 60px;
    }
}

@media screen and (max-width: 630px) {
    a.navbar-brand { 
        padding: 5px 10px;
    }
    .titleFont {
        margin: 0 auto 20px;
    }
    #instruction {
        font-size: 1em;
    }
    #startButton {
        width: 50px;
        margin: 3vh auto 0;
    }
    .gameArea {
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
        margin-left: 10px;
    }
    .gameArea .left {
        margin-bottom: 15px; 
    }
    .gameArea .left,
    .gameArea .right {
        width: 260px;
        height: 200px;
    }
    .mainPen img {
        width: 260px;
    }
    #petStore {
        width: 200px;
        height: 180px;
        margin: auto;
    }
    #petStore img {
        width: 200px;
    }
    .draggable {
        width: 18px;
        height: 25px;
    }
    .draggable img {
        width: 25px;
    }
}

@media screen and (max-width: 550px) {
    .titleFont {
        font-size: 2em;
    }
    #goodjob {
        background-size: 150px 110px;
        top: 30px;
    }
}

@media screen and (max-width: 380px) {
    nav.navbar a {
        font-size: 1em;
    }
    .titleFont {
        font-size: 1.8em;
    }
}
